In [ ]:
#Coleta, limpeza, análise e visualização.

In [4]:
#importando as bibliotecas:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### COLETA:
- irei usar 'customers_dataset', 'order_payment_dataset', 'order_reviews_dataset', 'orders_dataset'.

In [12]:
#df dos clientes: 
df_clientes = pd.read_csv('olist_casa/olist_customers_dataset.csv')
df_clientes.head().T

,0,1,2,3,4
customer_id,06b8999e2fba1a1fbc88172c00ba8bc7,18955e83d337fd6b2def6b18a428ac77,4e7b3e00288586ebd08712fdd0374a03,b2b6027bc5c5109e529d4dc6358b12c3,4f2d8ab171c80ec8364f7c12e35b23ad
customer_unique_id,861eff4711a542e4b93843c6dd7febb0,290c77bc529b7ac935b93aa66c333dc3,060e732b5b29e8181a18229c7b0b2b5e,259dac757896d24d7702b9acbbff3f3c,345ecd01c38d18a9036ed96c73b8d066
customer_zip_code_prefix,14409,9790,1151,8775,13056
customer_city,franca,sao bernardo do campo,sao paulo,mogi das cruzes,campinas
customer_state,SP,SP,SP,SP,SP

### Descrição das colunas: 
- customer_id: ID do cliente, cada pedido tem o seu próprio.
- customer_unique_id: ID exclusivo de um cliente.
- customer_zip_code_prefix: É o CEP de cada cliente.
- customer_city: Cidade de cada cliente.
- customer_state: Estado de cada cliente.

In [11]:
#df dos pagamentos dos pedidos feitos: 
df_pagamento = pd.read_csv('olist_casa/olist_order_payments_dataset.csv')
df_pagamento.head().T

,0,1,2,3,4
order_id,b81ef226f3fe1789b1e8b2acac839d17,a9810da82917af2d9aefd1278f1dcfa0,25e8ea4e93396b6fa0d3dd708e76c1bd,ba78997921bbcdc1373bb41e913ab953,42fdf880ba16b47b59251dd489d4441a
payment_sequential,1,1,1,1,1
payment_type,credit_card,credit_card,credit_card,credit_card,credit_card
payment_installments,8,1,1,8,2
payment_value,99.33,24.39,65.71,107.78,128.45

### Descrição das colunas: 
- order_id: ID dos pedidos. 
- paymente_sequential: Um cliente pode pagar um pedido com mais de um método de pagamento. Se ele fizer isso, será criada uma sequência para acomodar todos os pagamentos.
- payment_type: Método de pagamento.
- paymente_installments: Número de parcelas que o cliente usou para pagar.
- paymente_value: valor da transação.

In [26]:
# df das avaliações: 
df_avaliacoes = pd.read_csv('olist_casa/olist_order_reviews_dataset.csv')
df_avaliacoes.head().T

,0,1,2,3,4
review_id,7bc2406110b926393aa56f80a40eba40,80e641a11e56f04c1ad469d5645fdfde,228ce5500dc1d8e020d8d1322874b6f0,e64fb393e7b32834bb789ff8bb30750e,f7c4243c7fe1938f181bec41a392bdeb
order_id,73fc7af87114b39712e6da79b0a377eb,a548910a1c6147796b98fdf73dbeba33,f9e4b658b201a9f2ecdecbb34bed034b,658677c97b385a9be170737859d3511b,8e6bfb81e283fa7e4f11123a3fb894f1
review_score,4,5,5,5,5
review_comment_title,NaN,NaN,NaN,NaN,NaN
review_comment_message,NaN,NaN,NaN,Recebi bem antes do prazo estipulado.,Parabéns lojas lannister adorei comprar pela I...
review_creation_date,2018-01-18 00:00:00,2018-03-10 00:00:00,2018-02-17 00:00:00,2017-04-21 00:00:00,2018-03-01 00:00:00
review_answer_timestamp,2018-01-18 21:46:59,2018-03-11 03:05:13,2018-02-18 14:36:24,2017-04-21 22:02:06,2018-03-02 10:26:53

### Descrição das colunas: 
- review_id: ID das avaliações.
- order_id: ID dos pedidos. 
- review_score: Pontuação das avaliações. 
- review_comment_title: O título da avaliação deixado pelo cliente em português. 
- review_comment_message: O comentário deixado pelo cliente em português. 
- review_creation_date: Data em que a pesquisa de satisfação foi enviada ao cliente. 
- review_answer_timestamp: Data em que houve retorno da pesquisa de satifação, por parte do cliente.

In [33]:
# df dos pedidos: 
df_pedidos = pd.read_csv('olist_casa/olist_orders_dataset.csv')
df_pedidos.head().T

,0,1,2,3,4
order_id,e481f51cbdc54678b7cc49136f2d6af7,53cdb2fc8bc7dce0b6741e2150273451,47770eb9100c2d0c44946d9cf07ec65d,949d5b44dbf5de918fe9c16f97b45f8a,ad21c59c0840e6cb83a9ceb5573f8159
customer_id,9ef432eb6251297304e76186b10a928d,b0830fb4747a6c6d20dea0b8c802d7ef,41ce2a54c0b03bf3443c3d931a367089,f88197465ea7920adcdbec7375364d82,8ab97904e6daea8866dbdbc4fb7aad2c
order_status,delivered,delivered,delivered,delivered,delivered
order_purchase_timestamp,2017-10-02 10:56:33,2018-07-24 20:41:37,2018-08-08 08:38:49,2017-11-18 19:28:06,2018-02-13 21:18:39
order_approved_at,2017-10-02 11:07:15,2018-07-26 03:24:27,2018-08-08 08:55:23,2017-11-18 19:45:59,2018-02-13 22:20:29
order_delivered_carrier_date,2017-10-04 19:55:00,2018-07-26 14:31:00,2018-08-08 13:50:00,2017-11-22 13:39:59,2018-02-14 19:46:34
order_delivered_customer_date,2017-10-10 21:25:13,2018-08-07 15:27:45,2018-08-17 18:06:29,2017-12-02 00:28:42,2018-02-16 18:17:02
order_estimated_delivery_date,2017-10-18 00:00:00,2018-08-13 00:00:00,2018-09-04 00:00:00,2017-12-15 00:00:00,2018-02-26 00:00:00

### Descrição das colunas: 
- order_id: ID dos pedidos.
- customer_id: ID dos clientes.
- order_status: Status dos pedidos. 
- order_purchase_timestamp: Data e hora em que foi comprado. 
- order_approved_at: Data e hora em que foi aprovado o pagamento. 
- order_delivered_carrier_date: Data e hora em que foi entregue ao parceiro logístico. 
- order_delivered_customer_date: Mostra a data em que foi entregue ao cliente. 
- order_estimated_delivery_date: Data estimada que foi dita ao cliente.

### Quais são os objetivos, tendo em conta os dataframes escolhidos?
#### df_clientes:
- Quais os estados mais comuns entre os clientes?
- Há clientes que possuem o mesmo CEP?
- Como estão distribuídas as cidades dos clientes nos conjuntos de dados? 

#### df_pagamento: 
- Qual o método de pagamento mais utilizado? 
- Qual o valor médio das transações? 
- Como é a distribuição do número de parcelas escolhidas pelos clientes? 
- Há alguma relação entre o método de pagamento e o valor das transações? 

#### df_avaliações: 
- Qual é a pontuação média das avaliações?
- Como estão distribuídos os títulos das avaliações?
- Qual é a média de tempo que os clientes levam para responder às pesquisas de satisfação?
- Existe alguma correlação entre a pontuação da avaliação e o tempo de resposta do cliente?

#### df_pedidos:
- Quantos pedidos estão presentes no conjunto de dados?
- Qual é a distribuição dos status dos pedidos?
- Como é a distribuição temporal dos pedidos (compra, aprovação, entrega, etc.)?
- Existe uma diferença significativa entre as datas de entrega estimada e as datas reais de entrega?

### Limpeza

#### Clientes

In [17]:
df_clientes.info()
# ok, não há dados nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### Pagamento

In [18]:
df_pagamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

### Avaliações

In [27]:
df_avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [28]:
colunas_nulas_avaliacao = ['review_comment_title','review_comment_message']

df_avaliacoes = df_avaliacoes.drop(colunas_nulas_avaliacao, axis=1)

In [30]:
df_avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_creation_date     99224 non-null  object
 4   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### Pedidos

In [34]:
df_pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [35]:
colunas_nulas_pedidos = ['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']

df_pedidos = df_pedidos.drop(colunas_nulas_pedidos, axis=1)

In [36]:
df_pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_estimated_delivery_date  99441 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

### Análises